@font-face {
    font-family: 'Dynamic Wave';
    src: 
      url("DynamicWave.otf");
      
}
@font-face {

    font-family: 'Blue Wave';
    src: 
      url("BlueOcean.otf");
     
}

body {
  background-color: black;
}
@font-face{
  font-family:'Over Wave';
  src:
    url(Overwave.otf);
}
img {
  height: 60vh;
  width: 50vw;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 45px;
  

}
.logo-container{
  position: relative;
  width:60%;
  height:100vh;
  margin-left: 0px;
  margin-bottom: 30px;
  
}
.logo-text {
  position: absolute;
  top: 55%;
  left: 77%;
   transform: translate(-50%, -50%);
  width: 50vw;
  color:#4db1bc;
  font-family: "Blue Wave";
  font-size: 48px;
}
.logo-text {
  text-transform: uppercase;
  animation: glow 2s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 20px #2d9da9;
  }
  to {
    text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
  }
}
.quote {
  text-align: center;
  color: white;
  margin-top:50px;
}
.home {
  display:flex;
  background-image: url(Slash\ \(1\).png);
  background-repeat: no-repeat;
  background-size: cover; 
  padding:0%
  width:100vw;
  height:100vh;
}
.quote {
  padding-right: 100px;
  padding-left: 50px;
  margin-top: 10px;
}
.records {
  /* background-color: red; */
  transform: rotate(30deg);
  height: 105vh;
  width: 50vw;
  overflow: hidden;
  margin-right: 0px;
  margin-top: 58px;
  margin-bottom: 300px;
 
  /* margin-left: 20px; */
}
.record-image {
  width: 350px;
  height:350px;
  /* margin-left: 80px; */
  transform: rotate(-90deg);
 
}


.records-container {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  /* transform: rotate(30deg); */
  animation: scroll 10s linear infinite alternate;
  margin-bottom:400px;
}

@keyframes scroll{
  0% { transform: translateY(0); }
	100% { transform: translateY(calc(-2600px))};
}


#college {
margin-left: 50px;;
}
#adventure {
margin-left: 100px;
}
#music {
margin-left: 50px;
}
#password {
  margin-left: 100px;
}
@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

.records-container:before {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 1) 20px, rgba(0, 0, 0, 0));
}

.records-container:after {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 1) 20px, rgba(0, 0, 0, 0));
}

.bars {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px;
}
.menu-img {
  position: absolute;
  top: 8px;
  left: 0px;
}
.menu-button {
  position: absolute;
  top: 8px;
  left: 16px;
}

.closebtn {
  width:20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 36px;
  margin-left: 80px;
}
.navbar {
  height:100%;
  width: 0;
  background-color: #111;
  position:fixed;
  left:0;
  overflow-x: hidden;
  transition:0.5s;
  padding-top:50px;
  z-index:1;
  text-align: center;
}

.navbar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
html {
  height: 100%;
  width: 100%;
}

.album {
text-align: center;

}

.projects-container {
  width: 100%;
  height: 100%;
}

.data {
  display: flex;
  flex-direction: column;
}

.dataType {
  flex-direction: column;
}

#album1 {
  width: 350px;
  /* Change height to make it include all data */
  height: 440px;
  border: 5px solid black;
  position: relative;
  left:30px;
  top:50px;
  
}

#album2 {
  width: 350px;
  height: 410px;
  border: 5px solid black;
  position: relative; 
  top: 90px;
  left: 30px;
}

#album3 {
  width: 400px;
  height: 470px;
  border: 5px solid black;
  position: relative;
  left:450px;
  top: -770px;
}

#album4 {
  width: 350px;
  height: 470px;
  border: 5px solid black;
  margin-bottom:50px;
  position:relative;
  top:-1150px;
  right:-900px;

}

#album5 {
  width: 400px;
  height: 450px;
  border: 5px solid black;
  position:relative;
  left:450px;
  top:-1230px;
  
}

.g-image {
  width: 90%;
  height: 80%;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.heart {
  display: flex;
}
.play {
  width:40px;
  height:40px;
 margin-right: 95%;

  margin-top: 2%;
}
.me-icon {
  width:50px;
  height:50px;
  margin:0px;
}

.is-active {
  transition-duration: 1s;
  background-position: -2800px 0;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.artist {
  display: flex;
}
.name {
  display: flex;
  justify-content: center;
  align-items: center;
}
.glyphicon {
  border: white;
  font-size:30px;
  margin-left:20px;
  margin-top: 0px;
}
.g-image {
  height:88%;
}
.album-info {
  height:90%;
}
.glyphicon-heart {
  color: red;
}
.projects {
  display: none;
}
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@400;600;700&display=swap");


@keyframes flicker {
  0% {
    opacity: 0.5;
    text-shadow: 2px 2px 10px #FF3131;
  }

  100% {
    opacity: 1;
    text-shadow: 2px 2px 20px #FF3131;
  }
}




.about-me {
  background-color: red;
  width: 80vw;
  height: 555px;
  margin: auto;
  margin-top: 30px;
  border-radius: 25px;
  display: flex;
  align-items: center;
}

.photo-container {
  width: 40%;
  height: 80%;
  margin-left: 25px;
  border-radius: 25px;
  margin-right: 0px;

}

.about-myself {
  width: 200px
  height: 200px
  border-radius: 25px;
  
}

.vinyl-record {
  padding-left: 0px;
  padding-bottom: 10px;
}

.circle {
  height: 500px;
  width: 500px;
  margin-left: 0;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

.me-pic {
  width:250px;
  height:250px;
  z-index: 1;
  border-radius: 50px;
  position: absolute;
  top: 120px;
  left: 120px;

}
.aboutme {
  display: none;
}
p {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 150px;
  color: white;
  font-size: 25px;
}

.description {
  height: 70%;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.everything {
  display: flex;
}
.cotacts {
  display:none;
}
.gmail-link {
  width:150px;
  height: 100px;
}
.link-link {
  width:250px;
  height:100px;
  margin-right: 0px;
}
.contact-container {
  display:flex;
  justify-content: center;
  margin-top:100px;
  border: 3px solid white;
  
}